body {
    background-color: #111117;
    color: white;
}

body::before{
    display: block;
    content: '';
    height: 72px;
}

a {
    text-decoration: none;
}

.bg-1 {
    background-color: #1f1f1f;
}

.text-color-1{
    color: #e93b43;
}

.text-color-2 {
    color: #636363;
}


input.input-text{
    border: none;
    background-color: #1f1f1f;
    color: #a5a5a5;
    line-height: 22px;
}

.input-box {
    border-radius: 10px;
    min-width: 250px;
    width: 100%;
}

.login-form{
    width: 40%;
    min-width: 400px;
}

.login-btn {
    border: none;
    background-color: #e93b43;
    border-radius: 10px;
    width: 100%;
}

.b-radius {
    border-radius: 10px;
}

.create-btn {
    border: none;
    background-color: #e93b43;
    border-radius: 5px;
    width: 25%;
}

.social-media-item {
    border-radius: 50%;
    background-color: #a6a6a9;
    display: inline-block;
    padding: 6px;
}

.form-control:focus {
    background-color: #1f1f1f;
}

.bg_img {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center top !important;
    height: 45vh;
    background-color: #000000;
}

.wrapper {
    width: 40%;
    position: relative;
    top: 50%;
    left: 10%;
}

a:hover, a:focus{
    outline: none;
    color: white;
}

a{
    color: white;
}